<nav class="top-nav">
            <ul>
                <li>
                    <a href="/contributor/dashboard" class="top-menu top-menu">
                        <div class="top-menu__icon"> <i data-feather="home"></i> </div>
                        <div class="top-menu__title"> Dashboard </div>
                    </a>
                </li>
                <li>
                    <a href="/contributor/profile" class="top-menu">
                        <div class="top-menu__icon"> <i data-feather="user"></i> </div>
                        <div class="top-menu__title"> Account</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="top-menu">
                        <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="top-menu__title"> How to Use</div>
                    </a>
                </li>
                <li>
                    <a href="/contributor/upload" class="top-menu">
                        <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="top-menu__title"> Add City</div>
                    </a>
                </li>
                <li>
                    <a href="/contributor/addContent" class="top-menu">
                        <div class="top-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="top-menu__title"> Add Content</div>
                    </a>
                </li>
            </ul>
        </nav>